src/main/xsd/KonnektingDeviceV0.xsd

<?xml version="1.0"?>
<!--

 Copyright (C) 2019 Alexander Christian <info(at)konnekting.de>. All rights reserved.
 
 This file is part of KONNEKTING.

 KONNEKTING is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 KONNEKTING is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with KONNEKTING. If not, see <http://www.gnu.org/licenses/>.

-->
<xs:schema targetNamespace="http://konnekting.de/xml/KonnektingDevice/v0" elementFormDefault="qualified"
           xmlns="http://konnekting.de/xml/KonnektingDevice/v0"          
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
           xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
           jaxb:version="2.0">

    <xs:annotation>
        <xs:appinfo>KONNEKTING Device Schema</xs:appinfo>
        <xs:documentation>This Schema defines a KONNEKTING Device Configuration</xs:documentation>
    </xs:annotation>
    
    <!-- ############################ -->
    <!-- # Root Element             # -->
    <!-- ############################ -->
    <xs:element name="KonnektingDevice">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Device" type="Device"/>
                <xs:element name="Configuration" type="Configuration" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

        
    <!-- #################################################################################### -->
    <!-- # common things                                                                    # -->
    <!-- #################################################################################### -->
    
    <!-- attributes used by DEVICE and CONFIGURATION -->    
    <xs:attributeGroup name="DeviceMetaData">
        <xs:attribute name="ManufacturerId" type="xs:unsignedShort" use="required"/>
        <xs:attribute name="DeviceId" type="xs:unsignedByte" use="required"/>
        <xs:attribute name="Revision" type="xs:unsignedByte" use="required"/>
        <xs:attribute name="SystemType" type="xs:unsignedByte" use="required"/>
    </xs:attributeGroup>
    
    <!-- to have a common base type in parameter group, used by Spacer and Parameter-->
    <xs:complexType name="ParameterBase">        
    </xs:complexType>
    
    <!-- a spacer with a text value. Used to get a better overview in f.i parameter lists -->
    <xs:complexType name="ParameterSpacer">
        <xs:complexContent>
            <xs:extension base="ParameterBase">
                <xs:sequence>
                    <xs:element type="xs:string" name="Text" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
        
    <!-- #################################################################################### -->
    <!-- # DEVICE things                                                                    # -->
    <!-- #################################################################################### -->
    
    <!-- simple types -->
    <!-- Parameter Type Enumeration -->
    <xs:simpleType name="ParamType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="uint8"/>
            <xs:enumeration value="uint16"/>
            <xs:enumeration value="uint32"/>
            <xs:enumeration value="int8"/>
            <xs:enumeration value="int16"/>
            <xs:enumeration value="int32"/>
            <xs:enumeration value="raw1"/>
            <xs:enumeration value="raw2"/>
            <xs:enumeration value="raw3"/>
            <xs:enumeration value="raw4"/>
            <xs:enumeration value="raw5"/>
            <xs:enumeration value="raw6"/>
            <xs:enumeration value="raw7"/>
            <xs:enumeration value="raw8"/>
            <xs:enumeration value="raw9"/>
            <xs:enumeration value="raw10"/>
            <xs:enumeration value="raw11"/>
            <xs:enumeration value="string11"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- Test Type Enumeration -->
    <xs:simpleType name="TestType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="eq"/>
            <xs:enumeration value="ne"/>
            <xs:enumeration value="gt"/>
            <xs:enumeration value="lt"/>
            <xs:enumeration value="ge"/>
            <xs:enumeration value="le"/>
            <!-- ______________________________ -->
            <!-- new since beta5: -->
            <xs:enumeration value="in"/> 
            <xs:enumeration value="notin"/>
            <xs:enumeration value="between"/>
            <xs:enumeration value="notbetween"/>
            <!-- ______________________________ -->
        </xs:restriction>
    </xs:simpleType>
    
    <!-- complex types -->
    <xs:complexType name="Device">
        <xs:sequence>
            <xs:element name="ManufacturerName" type="xs:string" minOccurs="0"/>
            <xs:element name="DeviceName" type="xs:string" minOccurs="0"/>
            <xs:element name="Parameters" type="Parameters"/>
            <xs:element name="CommObjects" type="CommObjects"/>
            <xs:element name="Dependencies" type="Dependencies" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="DeviceMetaData"/>
    </xs:complexType>   
    
    <xs:complexType name="Parameters">
        <xs:sequence>
            <xs:element name="ParameterGroup" type="ParameterGroup" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ParameterGroup">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Spacer" type="ParameterSpacer" />
            <xs:element name="Parameter" type="Parameter"/>
        </xs:choice>
        <xs:attribute name="Name" type="xs:string" use="required"/>
        <xs:attribute name="Id" type="xs:unsignedByte" use="required"/>
    </xs:complexType>
    
    <xs:complexType name="Parameter">
        <xs:complexContent>
            <xs:extension base="ParameterBase">
                <xs:sequence>
                    <xs:element name="Description" type="xs:string"/>
                    <xs:element name="Value">
                        <xs:complexType>
                            <xs:attribute name="Type" type="ParamType" use="required"/>
                            <xs:attribute name="Default" type="xs:hexBinary" use="required"/>
                            <xs:attribute name="Options" type="xs:string"/>
                            <xs:attribute name="Min" type="xs:hexBinary"/>
                            <xs:attribute name="Max" type="xs:hexBinary"/>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="Id" type="xs:unsignedShort" use="required"/>
                <xs:attribute name="IdName" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    

    <xs:complexType name="CommObjects">
        <xs:sequence>
            <xs:element name="CommObject" maxOccurs="unbounded" type="CommObject"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CommObject">
        <xs:sequence>
            <xs:element name="Name" type="xs:string"/>
            <xs:element name="Function" type="xs:string"/>
            <xs:element name="DataPointType" type="DataPointType"/>
            <xs:element name="Flags" type="xs:byte" default="52"/>
        </xs:sequence>
        <xs:attribute name="Id" type="xs:unsignedByte" use="required"/>
        <xs:attribute name="IdName" type="xs:string"/>
    </xs:complexType>
    <xs:simpleType name="DataPointType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}.[0-9]{3,5}"/>
        </xs:restriction>
    </xs:simpleType>
    
    
    <xs:complexType name="Dependencies">
        <xs:sequence>
            <xs:element name="ParameterDependency" maxOccurs="unbounded" minOccurs="0" type="ParameterDependency"/>
            <xs:element name="ParameterGroupDependency" type="ParameterGroupDependency" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="CommObjectDependency" minOccurs="0" maxOccurs="unbounded" type="CommObjectDependency"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ParameterDependency">
        <xs:attribute name="ParamId" type="xs:unsignedByte" use="required"/>
        <xs:attribute name="TestParamId" type="xs:unsignedByte" use="required"/>
        <xs:attribute name="Test" type="TestType" use="required"/>
        <xs:attribute name="TestValue" type="xs:hexBinary" use="required"/>
        <xs:attribute name="TestList" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="ParameterGroupDependency">
        <xs:attribute name="ParamGroupId" type="xs:unsignedByte" use="required"/>
        <xs:attribute name="TestParamId" type="xs:unsignedByte" use="required"/>
        <xs:attribute name="Test" type="TestType" use="required"/>
        <xs:attribute name="TestValue" type="xs:hexBinary" use="required"/>
        <xs:attribute name="TestList" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="CommObjectDependency">
        <xs:attribute name="CommObjId" type="xs:unsignedByte" use="required"/>
        <xs:attribute name="TestParamId" type="xs:unsignedByte" use="required"/>
        <xs:attribute name="Test" type="TestType" use="required"/>
        <xs:attribute name="TestValue" type="xs:hexBinary" use="required"/>
        <xs:attribute name="TestList" type="xs:string" use="required"/>
    </xs:complexType>
    
    
    
    <!-- #################################################################################### -->
    <!-- # CONFIGURATION things                                                             # -->
    <!-- #################################################################################### -->
    
    <!-- simple types -->
    <xs:simpleType name="GroupAddressType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,2}\/[0-7]\/[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IndividualAddressType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,2}\.[0-7]\.[0-9]{0,3}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- complex types -->
    <xs:complexType name="Configuration">
        <xs:sequence>
            <xs:element name="IndividualAddress" type="IndividualAddress" minOccurs="0"/>
            <xs:element name="CommObjectConfigurations" type="CommObjectConfigurations" minOccurs="0"/>
            <xs:element name="ParameterConfigurations" type="ParameterConfigurations" minOccurs="0"/>
            <xs:element name="DeviceMemory" type="DeviceMemory" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="DeviceMetaData"/>
    </xs:complexType>
    <xs:complexType name="IndividualAddress">
        <xs:attribute name="Address" type="IndividualAddressType"/>
        <xs:attribute name="Description" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="CommObjectConfigurations">
        <xs:sequence>
            <xs:element name="CommObjectConfiguration" type="CommObjectConfiguration" maxOccurs="255"/>
        </xs:sequence>
    </xs:complexType> 
    <xs:complexType name="CommObjectConfiguration">
        <xs:sequence>
            <xs:element name="GroupAddress" maxOccurs="16" minOccurs="0" type="GroupAddressType"/>
        </xs:sequence>
        <xs:attribute name="Id" type="xs:unsignedByte" use="required"/>
        <xs:attribute name="Description" type="xs:string"/>
        <xs:attribute name="Flags" type="xs:byte" use="required"/>
    </xs:complexType>
          
    <xs:complexType name="ParameterConfigurations">
        <xs:sequence>
            <xs:element name="ParameterConfiguration" type="ParameterConfiguration" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>   
    <xs:complexType name="ParameterConfiguration">
        <xs:attribute name="Id" type="xs:unsignedShort" use="required"/>
        <xs:attribute name="Value" type="xs:hexBinary" use="required"/>
    </xs:complexType> 
    <xs:complexType name="DeviceMemory">
        <xs:sequence>
            <xs:element name="SystemTable" type="SystemTableType"/>
            <xs:element name="AddressTable" type="AddressTableType"/>
            <xs:element name="AssociationTable" type="AssociationTableType"/>
            <xs:element name="CommObjectTable" type="CommObjectTableType"/>
            <xs:element name="ParameterTable" type="xs:base64Binary"/>
        </xs:sequence>
    </xs:complexType>    
    <xs:simpleType name="SystemTableType">
        <xs:restriction base="xs:base64Binary">
            <xs:maxLength value="1024"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressTableType">
        <xs:restriction base="xs:base64Binary">
            <xs:maxLength value="1024"/> 
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssociationTableType">
        <xs:restriction base="xs:base64Binary">
            <xs:maxLength value="1024"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CommObjectTableType">
        <xs:restriction base="xs:base64Binary">
            <xs:maxLength value="1024"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
