src/main/xsd/KonnektingDeviceV0.xsd

<?xml version="1.0"?>
<!--

 Copyright (C) 2015 Alexander Christian <info(at)konnekting.de>. All rights reserved.
 
 This file is part of KONNEKTING.

 KONNEKTING is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 KONNEKTING is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with slicKnx.  If not, see <http://www.gnu.org/licenses/>.

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified" targetNamespace="http://konnekting.de/xml/KonnektingDevice/v0" xmlns:tns="http://konnekting.de/xml/KonnektingDevice/v0">
    <xsd:element name="KonnektingDevice">
        <xsd:annotation>
            <xsd:documentation>Description and configuration of a KONNEKTING Device</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Device" type="tns:Device">
                    <xsd:annotation>
                        <xsd:documentation>Description of the KONNEKTING Device</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Configuration" type="tns:Configuration" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>Configuration of a KONNEKTING Device</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="CommObject">
        <xsd:sequence>
            <xsd:element name="Name" type="xsd:string"/>
            <xsd:element name="Function" type="xsd:string"/>
            <xsd:element name="DataPointType" type="xsd:string"/>
            <xsd:element name="Flags" type="xsd:byte" default="52">
                <xsd:annotation>
                        <xsd:documentation>
                            <b>ComObj communication flags.</b><br/>
                            <br/>
                            The "Flags" is a single byte (integer value), that indicates the set 
                            communication flags of the ComObj by setting/unsetting single bits of that byte.
                            <br/>
                            Flags are:
                            <pre>
                            * C   Communication
                            * R   Read
                            * W   Write
                            * T   Transmit
                            * U   Update
                            * I   Init
                            </pre>
                            (for more details about the flags, read: http://www.knx.org/fileadmin/template/documents/downloads_support_menu/KNX_tutor_seminar_page/Advanced_documentation/02_Flags_E1008a.pdf)

                            <pre>
                                B7  B6  B5  B4  B3  B2  B1  B0 (Bit number)
                               128  64  32  16   8   4   2   1 (integer value)
                                xx  xx   C   R   W   T   U   I (Flag) 
                            </pre>

                            Bit B6 and B7 are unused.<br/>

                                                Common flag-combinations:
                            <pre>
                                                    * "Sensor Profile" -> C+R+T -> 32+16+8 = 52 (integer value)
                                                    * "Logical Input Profile" -> C+W+U -> 32+8+2 = 42 (integer value)
                            </pre>
                        </xsd:documentation>
                    </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="Id" type="xsd:unsignedByte" use="required"/>
        <xsd:attribute name="IdName" type="xsd:string"/>
    </xsd:complexType>
    
    <xsd:complexType name="Dependencies">
        <xsd:sequence>
            <xsd:element name="ParameterDependency" maxOccurs="unbounded" minOccurs="0" type="tns:ParameterDependency">
            </xsd:element>
            <xsd:element name="CommObjectDependency" minOccurs="0" maxOccurs="unbounded" type="tns:CommObjectDependency">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="Device">
        <xsd:sequence>
            <xsd:element name="ManufacturerName" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DeviceName" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Parameters" type="tns:Parameters"/>
            <xsd:element name="CommObjects" type="tns:CommObjects"/>
            <xsd:element name="Dependencies" type="tns:Dependencies" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attributeGroup ref="tns:DeviceMetaData"/>
    </xsd:complexType>
    <xsd:complexType name="Parameter">
        <xsd:sequence>
            <xsd:element name="Description" type="xsd:string"/>
            <xsd:element name="Value">
                <xsd:complexType>
                    <xsd:attribute name="Type" type="tns:ParamType" use="required"/>
                    <xsd:attribute name="Default" type="xsd:hexBinary" use="required"/>
                    <xsd:attribute name="Options" type="xsd:string"/>
                    <xsd:attribute name="Min" type="xsd:hexBinary"/>
                    <xsd:attribute name="Max" type="xsd:hexBinary"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="Id" type="xsd:unsignedByte" use="required"/>
        <xsd:attribute name="IdName" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ParameterGroup">
        <xsd:sequence>
            <xsd:element name="Parameter" maxOccurs="unbounded" type="tns:Parameter"/>
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Configuration">
        <xsd:sequence>
            <xsd:element name="IndividualAddress" type="tns:IndividualAddress" minOccurs="0"></xsd:element>
            <xsd:element name="CommObjectConfigurations" type="tns:CommObjectConfigurations" minOccurs="0"/>
            <xsd:element name="ParameterConfigurations" type="tns:ParameterConfigurations" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attributeGroup ref="tns:DeviceMetaData"/>
    </xsd:complexType>
    <xsd:complexType name="Parameters">
        <xsd:sequence>
            <xsd:element name="Group" type="tns:ParameterGroup" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CommObjects">
        <xsd:sequence>
            <xsd:element name="CommObject" maxOccurs="unbounded" type="tns:CommObject"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CommObjectConfigurations">
        <xsd:sequence>
            <xsd:element name="CommObjectConfiguration" type="tns:CommObjectConfiguration" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CommObjectConfiguration">
        <xsd:attribute name="Id" type="xsd:unsignedByte" use="required"/>
        <xsd:attribute name="GroupAddress" type="xsd:string"/>
        <xsd:attribute name="Description" type="xsd:string"/>
        <xsd:attribute name="Flags" type="xsd:byte"/>
    </xsd:complexType>
    <xsd:complexType name="ParameterConfiguration">
        <xsd:attribute name="Id" type="xsd:unsignedByte" use="required"/>
        <xsd:attribute name="Value" type="xsd:hexBinary" use="required"/>
    </xsd:complexType>
    <xsd:complexType name="ParameterConfigurations">
        <xsd:sequence>
            <xsd:element name="ParameterConfiguration" type="tns:ParameterConfiguration" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="IndividualAddress">
        <xsd:attribute name="Address" type="xsd:string"/>
        <xsd:attribute name="Description" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ParameterDependency">
        <xsd:attribute name="ParamId" type="xsd:unsignedByte"/>
        <xsd:attribute name="TestParamId" type="xsd:unsignedByte"/>
        <xsd:attribute name="Test" type="tns:TestType"/>
        <xsd:attribute name="TestValue" type="xsd:hexBinary"/>
    </xsd:complexType>
    <xsd:complexType name="CommObjectDependency">
        <xsd:attribute name="CommObjId" type="xsd:unsignedByte"/>
        <xsd:attribute name="TestParamId" type="xsd:unsignedByte"/>
        <xsd:attribute name="Test" type="tns:TestType"/>
        <xsd:attribute name="TestValue" type="xsd:hexBinary"/>
    </xsd:complexType>
    <xsd:attributeGroup name="DeviceMetaData">
        <xsd:attribute name="ManufacturerId" type="xsd:unsignedShort" use="required"/>
        <xsd:attribute name="DeviceId" type="xsd:unsignedByte" use="required"/>
        <xsd:attribute name="Revision" type="xsd:unsignedByte" use="required"/>
    </xsd:attributeGroup>
    <xsd:simpleType name="ParamType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="uint8"/>
            <xsd:enumeration value="uint16"/>
            <xsd:enumeration value="uint32"/>
            <xsd:enumeration value="int8"/>
            <xsd:enumeration value="int16"/>
            <xsd:enumeration value="int32"/>
            <xsd:enumeration value="raw1"/>
            <xsd:enumeration value="raw2"/>
            <xsd:enumeration value="raw3"/>
            <xsd:enumeration value="raw4"/>
            <xsd:enumeration value="raw5"/>
            <xsd:enumeration value="raw6"/>
            <xsd:enumeration value="raw7"/>
            <xsd:enumeration value="raw8"/>
            <xsd:enumeration value="raw9"/>
            <xsd:enumeration value="raw10"/>
            <xsd:enumeration value="raw11"/>
            <xsd:enumeration value="string11"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TestType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="eq"/>
            <xsd:enumeration value="ne"/>
            <xsd:enumeration value="gt"/>
            <xsd:enumeration value="lt"/>
            <xsd:enumeration value="ge"/>
            <xsd:enumeration value="le"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
